<div class="center hero-unit">
	<h1>PIN SOME CRAP UP!</h1>
    <h2> About Awesome PAGE </h2>

    <p>
            <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
        </p>
</div>